keras2onnx==1.7.0
nltk==3.5
numpy==1.18.5
onnx==1.8.0
pandas==1.1.4
Pillow==8.0.1
protobuf==3.14.0
skl2onnx==1.7.0
tensorflow==2.7.2
tf2onnx==1.7.2
threadpoolctl==2.1.0
pyyaml==5.3.1
opencv-python==4.4.0.46
onnxoptimizer==0.1.2
